<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

Introduction: In this notebook, Data Dcience tools and Ecosystem are summarised

The three frequently used Data Science languages are 
1. Python
2. R
3. Scala

Some of the common libraries used by Data Scientist are
1. Pandas
2. NumbPy
3. MatPlotLib

| Data Science Environement Tools |
|---------------------------------|
| JupyterLab                      |
| Google Colab                    |
| Visual Studio                   |

Some example of arithmetic expressions in Jupyter are :

In [7]:
r = 5
area = 3.14 * r ** 2
print("Area = ", area)

Area =  78.5

This is a simple arithmetic expression to add and multiple numbers

In [8]:
result = (3*4)+5
print("Result of arithmetic expression = ",result)

Result of arithmetic expression =  17

This will convert 200 minutes to hours by dividing by 60

In [10]:
hours = 200 / 60
print(" 200 minutes in hours is ",hours," hours. When rounded up, it is ",round(hours)," hours")

 200 minutes in hours is  3.3333333333333335  hours. When rounded up, it is  3  hours

**Objectives

Popular languages in Data Science are 
- Python
- R
- Julia

## Author
Anitha Irene